body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
}


.title {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

.basic-info {
    display: flex;
    gap: 20px;
}

.subtitle {
    margin-left: 20px;
}

.default-section {
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

.default-section a {
    color: aqua;
    font-weight: bold;
}

.info-block {
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    flex: 1 1 calc(30% - 20px);
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

.info-block img {
    max-width: 100%;
    margin-bottom: 20px;
    /* Adjust space between image and text */
}

.info-block p {
    flex: 1;
    font-size: larger;
    margin: 0;
    text-align: center;
}

.flashcard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Adjust height as needed */
}

.flashcard-container {
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.flashcard {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center flashcard content */
}

.term,
.definition {
    font-size: 24px;
    color: black;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* Center term and definition content */
}

.hidden {
    display: none;
}

.arrow {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.term {
    font-size: 24px;
    color: black;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center term content */
}

.definition {
    font-size: 24px;
    color: black;
    backface-visibility: hidden;
    display: none;
    transform: rotateY(180deg);
    /* Hide definition content by default */
}

.flashcard.flipped .definition {
    display: flex;
    /* Show definition content when flipped */
}

.counter {
    font-size: x-large;
}